.not_found {

    max-width: 1200px;
    height: 91VH;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #cb243d;
}

.not_found h1 {
    color: #161c38;
    font-size: 45px;
}